<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="br.com.pdi.springcore"/>

    <bean id="grettingController" class="br.com.pdi.springcore.controller.GrettingController">
        <property name="helloWorldService" ref="helloWorldServiceEnglishImpl"/>
        <property name="helloWorldServiceSpanish" ref="helloWorldServiceSpanishImpl"/>
        <property name="helloWorldServicePortuguese" ref="helloWorldServicePortugueseImpl"/>
        <property name="helloWorldServiceFrench" ref="helloWorldServiceFrenchImpl"/>
    </bean>

    <bean id="helloWorldServiceFactory" class="br.com.pdi.springcore.service.impl.HelloWorldServiceFactory"/>

    <bean id="helloWorldServiceSpanishImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService">
        <constructor-arg value="fr"/>
    </bean>

    <bean id="helloWorldServicePortugueseImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService">
        <constructor-arg value="pt"/>
    </bean>

    <bean id="helloWorldServiceFrenchImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService">
        <constructor-arg value="fr"/>
    </bean>

    <beans profile="english">
        <bean id="helloWorldServiceEnglishImpl" factory-bean="helloWorldServiceFactory" factory-method="createHelloWorldService" primary="true">
            <constructor-arg value="en"/>
        </bean>
    </beans>
</beans>
