<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head lang="en">
    <title>Spring core course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Hello World</h1>

    <h2>This is my Thymeleaf index page.</h2>

    <ul>
        <li><a href="product/list">Products</a></li>
        <li><a href="customer/list">Customers</a></li>
    </ul>
</div>
</body>
</html>
