<!DOCTYPE html>
<html lang="eng" xmlns:th="http://thymeleaf.org">
<head>
    <meta  charset="UTF-8">
    <title>Spring core course - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(products)}">
            <h2>Product List</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image URL</th>
                    <th>List</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.imageUrl}"></td>
                    <td><a th:href="${'/product/' + product.id}">View</a> </td>
                    <td><a th:href="${'/product/edit/' + product.id}">Edit</a> </td>
                    <td><a th:href="${'/product/delete/' + product.id}">Delete</a> </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/product/new">New Product</a>
            </div>
        </div>
    </div>

</body>
</html>